= form_for(@entry) do |f|
  - if @entry.errors.any?
    #error_explanation
      %h2
        = pluralize(@entry.errors.count, "error")
        prohibited this entry from being saved:
      %ul
        - @entry.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :content
    = f.text_area :content, autofocus: true
  .field
    = f.label :tag_list
    = f.text_field :tag_list
  .field
    = f.label :priority
    = f.select :priority, Entry.priority_options_for_select
  .field
    = f.label :happened_on
    = date_select :entry, :happened_on

  #bible_notes_fields
    .field
      = f.label :book
      = f.select :book, Entry::BIBLE_BOOKS.unshift(nil).map{ |s| [s, s] }
    .field
      = f.label :chapter
      = f.select :chapter, (1..150).map{ |n| [n, n] }
    .field
      = f.label :verse
      = f.select :verse, (1..150).map{ |n| [n, n] }

  .actions
    = f.submit

- all_tags = ActsAsTaggableOn::Tag.all.map(&:name)

:javascript
  $("#entry_tag_list").select2({
    width: 'resolve',
    tags: #{all_tags},
    tokenSeparators: [","]
  });

  $("#entry_book").select2({
    width: 'resolve'
  });
