%div{style: 'width: 70%; float: left;'}
  = render 'form'

%div{style: 'width: 30%; float: left;'}
  = render partial: '/tag_cloud'

%div{style: 'clear: both; margin-top: 2em;'}
  = paginate @entries

  %table
    %thead
      %tr
        %th{style: 'width: 70px'} Date
        %th Priority
        %th Tags
        %th Content
        %th Actions
    %tbody
      - @entries.each do |entry|
        %tr{ class: cycle("odd", "even") }
          %td{style: 'text-align: center'}= entry.happened_on
          %td{style: 'text-align: center'}= entry.priority
          %td
            - entry.tags.each do |tag|
              = link_to tag.name, tag_path(tag.name)
          %td
            - if entry.content
              = raw entry.content.gsub("\n", '<br>')
          %td
            = link_to 'Show', entry
            %br
            = link_to 'Edit', edit_entry_path(entry)
            %br
            = link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }

  = paginate @entries
