%h1
  = link_to 'All entries', entries_path

%h1 New entry
= render 'form'

= render partial: '/tag_cloud'

%h1 Entries
%table
  %thead
    %tr
      %th{style: 'width: 70px'} Date
      %th Priority
      %th Tags
      %th Content
      %th
      %th
      %th
  %tbody
    - @entries.each do |entry|
      %tr{ class: cycle("odd", "even") }
        %td{style: 'text-align: center'}= entry.happened_on
        %td{style: 'text-align: center'}= entry.priority
        %td
          - entry.tags.each do |tag|
            = link_to tag.name, tag_path(tag.name)
        %td= entry.content
        %td= link_to 'Show', entry
        %td= link_to 'Edit', edit_entry_path(entry)
        %td= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }
