%h1
  = link_to 'All entries', entries_path

%h1 New entry
= render 'form'

= render partial: '/tag_cloud'

%h1 Entries
%table
  %thead
    %tr
      %th Content
      %th
      %th
      %th
  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.content
        %td= link_to 'Show', entry
        %td= link_to 'Edit', edit_entry_path(entry)
        %td= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }
